<div class="f-carousel-editorial__bottom-bar" >
  <div class="f-carousel-editorial__pagination">
    <div data-carousel-dots data-for="ferrari-slider">
      <button class="dot-btn " type="button"
              data-carousel-dot-template
              data-for="ferrari-slider"
              aria-label="Go to slide"
              data-carousel-disable-opacity="true"
      >
        <svg class="dot-btn__svg" viewBox="-12 -12 24 24" aria-hidden="true" focusable="false">
          <circle class="dot-btn__circle" cx="0" cy="0" r="3"></circle>
        </svg>
      </button>
    </div>
  </div>
  <div class="f-carousel-editorial__bottom-bar__dash"></div>
  <a class="f-link" href="https://www.ferrari.com/news" >
    <div class="f-link__text">
      View all news
    </div>
  </a>
</div>