<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ferrari Slider Demo Project</title>
</head>
<body>
<div class="page p-4 w-full">
    <header class="page__header">
        <div>
            <p class="eyebrow">Ferrari Slider Demo Project</p>
        </div>
    </header>

    <hr class="border-t-2 border-gray-800 " />

    <section class="carousel " data-carousel id="ferrari-slider">
        <div class="flex justify-start ml:justify-center">
            <div class="carousel-stage relative w-full max-w-[1100px] mx-[10px] ml:mx-[50px] my-[25px] ml:my-[50px] max-ml:min-h-[575px]">
            <div class="slides gsap-carousel__stack w-full">
                <%- include("./partials/slide-template.html", {
                carouselId: "ferrari-slider",
                slideNo: 1,
                title: "SCUDERIA FERRARI HP CLOSES THE 2025 SEASON WITH 270 LAPS",
                subtitle: "Today, all teams took part in the one and only day of post-season testing at the Yas Marina circuit.",
                readMoreHref: "https://www.ferrari.com/en-EN/formula1/articles/scuderia-ferrari-abu-dhabi-test-2025",
                imageSrc: "assets/slide1-image.avif",
                mobileImageSrc: "assets/slide1-image-mobile.avif",
                imageAlt: "Ferrari Formula 1 car at the 2025 Abu Dhabi test"
                }) %>

                <%- include("./partials/slide-template.html", {
                carouselId: "ferrari-slider",
                slideNo: 2,
                title: "M-TECH ALFREDO FERRARI: AN EDUCATIONAL HUB FOR THE INNOVATORS OF TOMORROW",
                subtitle: "A new challenge reinforces and renews Ferrari's historic commitment to the area of education: the M-TECH Alfredo Ferrari educational hub, which will be completed in 2029, with the aim of inspiring and training future generations of technology and automotive innovators.",
                readMoreHref: "https://www.ferrari.com/en-EN/articles/m-tech-alfredo-ferrari-an-educational-hub-for-the-innovators-of-tomorrow",
                imageSrc: "assets/slide2-image.avif",
                mobileImageSrc: "assets/slide2-image-mobile.avif",
                imageAlt: "Modern office building with glass facade and people walking by"
                }) %>
                <%- include("./partials/slide-template.html", {
                carouselId: "ferrari-slider",
                slideNo: 3,
                title: "A STAR IS BORN",
                subtitle: "First Michelin Star for Cavallino - one of Italy's top restaurants",
                readMoreHref: "https://www.ferrari.com/en-US/magazine/articles/cavallino-restaurant-earns-michelin-star",
                imageSrc: "assets/slide3-image.avif",
                mobileImageSrc: "assets/slide3-image-mobile.avif",
                imageAlt: "A dish plate with a toy car on it"
                }) %>
                <%- include("./partials/slide-template.html", {
                carouselId: "ferrari-slider",
                slideNo: 4,
                title: "FERRARI CROWNED WORLD CHAMPIONS: MANUFACTURERS' AND DRIVERS' TITLES CLINCHED IN FIA WEC 2025",
                subtitle: "Thanks to the extraordinary result at the 8 Hours of Bahrain, the last race of the season, Ferrari has taken the Manufacturers' title in the 2025 FIA World Endurance Championship, 53 years after its last world title",
                readMoreHref: "https://www.ferrari.com/en-EN/hypercar/articles/lmh-8h-bahrain-2025-end-race",
                imageSrc: "assets/slide4-image.avif",
                mobileImageSrc: "assets/slide4-image-mobile.avif",
                imageAlt: "Race car on track"
                }) %>
            </div>
                <!--    Left arrow-->
                <button class="carousel-nav carousel-nav--prev fade-in hidden ml:block" data-exit="fade-out" data-carousel-prev data-for="ferrari-slider">
                    <span class="f-icon__icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                             role="presentation">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 0L4.73232 6.45304C4.28525 6.81984 4 7.37663 4 8C4 8.62336 4.28524 9.18015 4.73232 9.54696L12 16L8 8L12 0Z"></path>
                        </svg>
                    </span>
                </button>

                <!--    Right arrow-->
                <button class="carousel-nav carousel-nav--next fade-in hidden ml:block" data-exit="fade-out" data-carousel-next data-for="ferrari-slider">
                   <span class="f-icon__icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4 16L11.2677 9.54696C11.7148 9.18016 12 8.62337 12 8C12 7.37664 11.7148 6.81985 11.2677 6.45304L4 0L8 8L4 16Z"></path>
                        </svg>
                  </span>
                </button>
            </div>
        </div>

        <%- include("./partials/slide-nav.html") %>

<!--        <div class="control-set">-->
<!--            <button data-carousel-prev data-for="ferrari-slider" class="icon">Prev</button>-->
<!--            <button data-carousel-next data-for="ferrari-slider" class="icon">Next</button>-->
<!--        </div>-->

<!--        <div class="dots" data-carousel-dots data-for="ferrari-slider">-->
<!--            <button class="dot" data-carousel-dot-template data-for="ferrari-slider" aria-label="Go to slide"></button>-->
<!--        </div>-->
    </section>

    <hr class="border-t-2 border-gray-800 " />
</div>

<script type="module" src="./main.ts"></script>
</body>
</html>
